body{
    background-color: #121212;
}

#nav_container{
    margin-top: 12px;
}

#logo_container{
    margin-left: 80px;
}

#logo_container h1{
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'jsMath-cmbx10';
}

#logo2{
    padding-left: 56px;
}

#search{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 100px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

#search_icon{
    color: #787070;
}

#search_input{
    font-size: 16px;
    font-weight: bold;
    color: #787070;
    margin-left: 8px;
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
    height: 24px;
}

#search_input::placeholder{
    text-align: center;
}

#login_container{
    margin-top: 24px;
    margin-left: 112px;
}

#login_container button{
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 24px;
    width: 80px;
    height: 32px;
    text-align: center;
    font-weight: bold;
}

#lg_btn{
    color: #000000;
    background-color: #FFFFFF;
}

#menu{
    margin-top: 32px;
    margin-left: 336px;
}

#menu_container button{
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 16px;
    width: 144px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #212121;
    color: #909090;
}

#home_btn{
    color: #000000 !important;
    background-color: #D9D9D9 !important;
}

#following_artist{
    background-color: #212121;
    width: 200px;
    border-radius: 16px;
    margin-left: 136px;
    margin-top: 12px;
}

#flw_art{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.artist{
    margin-top: 24px;
}

.artist img{
    height: 88px;
    width: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.artist_name{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

#see_more{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    display: block;
}

#main_content{
    background-image: linear-gradient(#212121, #535353);
    margin-top: 12px;
    border-radius: 16px;
    margin-left: 12px;
}

.wrap_title{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 24px;
    margin-top: 16px;
}

.wrap_year{
    color: #24FF7F;
}

.music_container{
    margin-top: 48px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
}

.artist_container{
    margin-left: auto;
    margin-right: auto;
    width: 224px;
}

.music_artist{
    width: 224px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.music_title{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
}

.recent_played{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #535353;
}

.playlist_img{
    width: 100px;
    height: 72px;
    border-radius: 1px;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
    margin-left: 16px;
}

.recent_playlist {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.playlist_text{
    background-color: #444;
    color: #ffffff;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    height: 72px;
    width: 225px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

#playlist{
    margin-top: -26px;
}


/* DITO NAG END */
body{
    background-color: #121212;
}

#nav_container{
    margin-top: 12px;
}

#logo_container{
    margin-left: 80px;
}

#logo_container h1{
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'jsMath-cmbx10';
}

#logo2{
    padding-left: 56px;
}

#search{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 100px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

#search_icon{
    color: #787070;
}

#search_input{
    font-size: 16px;
    font-weight: bold;
    color: #787070;
    margin-left: 8px;
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
    height: 24px;
}

#search_input::placeholder{
    text-align: center;
}

#login_container{
    margin-top: 24px;
    margin-left: 112px;
}

#login_container button{
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 24px;
    width: 80px;
    height: 32px;
    text-align: center;
    font-weight: bold;
}

#lg_btn{
    color: #000000;
    background-color: #FFFFFF;
}

#menu{
    margin-top: 32px;
    margin-left: 336px;
}

#menu_container button{
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 16px;
    width: 144px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #212121;
    color: #909090;
}

#artist_btn{
    color: #000000 !important;
    background-color: #D9D9D9 !important;
}

#flw_artist_container{
    margin-top: 12px;
}

#following_artist{
    background-color: #212121;
    width: 200px;
    border-radius: 16px;
    margin-left: 136px;
}

#flw_art{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.artist{
    margin-top: 24px;
}

.artist img{
    height: 88px;
    width: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.artist_name{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

#see_more{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    display: block;
}

#srch_artist{
    margin-left: 12px;
}

#artist_dets{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://i.scdn.co/image/ab67618600001016cc521d3cd789e0e456e681c2");
    display: block;
    background-repeat: no-repeat;
    height: 32vh;
    border-radius: 16px;
    width: 100%;
    background-size: cover;
    background-position: 50% 15%;
}

#srch_artist_name{
    font-size: 88px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

#listeners{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

#follow_btn{
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 16px;
    width: 144px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

#srch_artist_container{
    margin-top: 32px;
    margin-left: 40px;
}

#top_song_container{
    background-image: linear-gradient(#212121, #535353);
    border-radius: 16px;
    height: 440px;
    margin-top: 12px;
}

#top_song_title_cont{
    margin-top: 32px;
    margin-left: 40px;
}

#top_song_title{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
}

#all_song_container{
    margin-top: 12px;
}

.song_container{
    margin-top: 8px;
    margin-left: 80px;
}

.song_details{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

#see_more_container{
    margin-top: 32px;
    margin-left: 80px;
}

#see_more_song{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

#about_container{
    margin-left: 136px;
    margin-top: 12px;
    border-radius: 16px;
    width: 1640px;   
}

#about{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/about-bg.jpg");
    display: block;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 50% 15%;
    border-radius: 16px;
    padding: 32px;
}

#abt_title_cont{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#abt_title_cont h1{
    font-weight: bold;   
}

#abt_title{
    font-size: 40px;
    color: #FFFFFF;
}

#abt_subtitle{
    font-weight:normal;
    font-size: 16px;
    padding-top: 8px;
    color: #FFFFFF;
}