<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://fonts.cdnfonts.com/css/jsmath-cmbx10" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    </head>
    <body>

        <div class="container-fluid g-0">
            <div class="row g-0">
                <div class="col-12" id="nav_container">
                    <div class="row g-0">
                        <div class="col-2" id="logo_main_container">
                            <div id="logo_container">
                                <h1 id="logo1">Sound</h1>
                                <h1 id="logo2">Space</h1>
                            </div>
                        </div>
                        <div class="col-8"id="searchbar_main_container">
                            <div id="search">
                                <i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
                                <form action="{{ url_for('home') }}" method="post">
                                    <input type="text" id="search_input" name="artist_name" placeholder="SEARCH YOUR ARTIST" required>
                                    <button type="submit" style="display: none;">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-2" id="login_main_container">
                            <div id="login_container">
                                <button type="button"  id="lg_btn" onclick="location.href='{{ url_for('logout') }}'">
                                    Log out
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" id="menu_container">
                    <div class="row g-0">
                        <div class="col-7" id="menu">
                            <div class="row g-0">
                                <div class="col-2">
                                    <button type="button"  id="home_btn" id="artist_btn" onclick="location.href='{{ url_for('home')}}'">
                                        Home
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button type="button"  id="wrapped_btn" onclick="location.href='{{ url_for('wrapped') }}'">
                                        Wrapped
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not artist_id and not artist.name %}
                <div class="col-12">
                    <div class="row g-0">
                        <div class="col-1" id="following_artist">
                            <div id="artist_container">
                                <p id="flw_art">Following Artist</p>
                            </div>
                            {% if followed_artists %}
                                {% for artist in followed_artists %}
                                    <div class="artist">
                                        <img src="{{ artist.image }}" alt="">
                                        <p class="artist_name">{{ artist.name }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <li>No recently followed artists found.</li>
                            {% endif %}
                            <div>
                                <a href="#" id="see_more">See More</a>
                            </div>
                        </div>
                        <div class="col-9" id="main_content">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="row g-0" class="playlist">
                                        {% if albums %}
                                            {% for album in albums %}
                                                <div class="col-3 recent_playlist" >
                                                    <img src="{{ album['image_url'] }}" alt="Icon" class="playlist_img">
                                                    <span class="playlist_text">{{ album["name"] }}</span>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h1 class="wrap_title">Recently Played</h1>
                                </div>
                                <div class="col-12">
                                    <div class="row g-0">
                                        <div class="col-12 music_container">
                                            <div class="row g-0">
                                                {% for track in recentlyPlayedTracks[:12] %}
                                                    <div class="col-2 artist_container">
                                                        <img src="{{ track.image }}" alt="artist" class="music_artist">
                                                        <p class="music_title">{{ track.name }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-12" id="flw_artist_container">
                    <div class="row g-0">
                        <div class="col-1" id="following_artist">
                            <div id="artist_container">
                                <p id="flw_art">Following Artist</p>
                            </div>
                            {% if followed_artists %}
                                {% for artist in followed_artists[:4] %}
                                    <div class="artist">
                                        <img src="{{ artist.image }}" alt="">
                                        <p class="artist_name">{{ artist.name }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <li>No recently followed artists found.</li>
                            {% endif %}
                                    <div>
                                        <a href="#" id="see_more">See More</a>
                                    </div>
                        </div>
                        <div class="col-9" id="srch_artist">
                            <div class="col-12">
                                <div class="row g-0">
                                    <div class="col-12" id="artist_dets">
                                        <div id="srch_artist_container">
                                            {% if artist.name %}
                                                <h1 id="srch_artist_name">{{ artist.name }}</h1>
                                                <p id="listeners">{{ artist_data.followers }}</p>
                                                {% if artist_id %}
                                                    {% if not following_artist %}
                                                        <div>
                                                            <form action="{{ url_for('followArtist') }}" method="post">
                                                                <input type="hidden" name="artist_name" value="{{ artist.name }}">
                                                                <input type="hidden" name="artist_id" value="{{ artist_id }}">
                                                                <button type="submit" id="follow_btn">
                                                                    Follow
                                                                </button>
                                                            </form>
                                                        </div>
                                                    {% else %}
                                                        <form action="{{ url_for('unfollowArtist') }}" method="post">
                                                            <input type="hidden" name="artist_name" value="{{ artist.name }}">
                                                            <input type="hidden" name="artist_id" value="{{ artist_id }}">
                                                            <button type="submit" id="follow_btn">
                                                                Following
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <h1 id="srch_artist_name">NewJeans</h1>
                                                <p id="listeners">14,637,409 monthly listeners</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" id="top_song_container">
                                <div class="row g-0">
                                    <div class="col-12">
                                        <div id="top_song_title_cont">
                                            <p id="top_song_title">Top Popular Song</p>
                                        </div>
                                    </div>
                                    <div class="col-12" id="all_song_container">
                                        <div class="row g-0">
                                            {% if songs %}
                                                {% for song in songs %}
                                                    <div class="col-8 song_container">
                                                        <div class="row g-0">
                                                            <div class="col-1">
                                                                <p class="song_details">{{ loop.index }}</p>
                                                            </div>
                                                            <div class="col-4">
                                                                <p class="song_details">{{ song["name"]}} </p>
                                                            </div>
                                                            <div class="col-3">
                                                                <p class="song_details">{{ song.duration_ms }}</p>
                                                            </div>
                                                            <div class="col-4">
                                                                <p class="song_details">{{ song.plays }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <div class="col-12" id="see_more_container">
                                                    <a href="#" id="see_more_song">See More</a>
                                                </div>
                                            {% else %}
                                                {% for num in range(0, 4) %}
                                                    <p>Songs variable is empty and there's something wrong</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-0">
                        <div class="col-10" id="about_container">
                            <div class="row g-0">
                                <div class="col-12" id="about">
                                    <div class="row g-0">
                                        <div class="col-8" id="abt_title_cont">
                                            <h1 id="abt_title">ABOUT</h1>
                                            {% if artist.about %}
                                                <p id="abt_subtitle">{{ artist.about }}</p>
                                            {% else %}
                                                <p id="listeners" style="font-weight: normal;">{{ artist.monthly_listeners }}</p>
                                            {% endif %}
                                        </div>  
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>        

    </body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
